* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
.info-regras {
    background-color: #fff;
    padding: 16px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);
    width: 100%;
    max-width: 400px;
    margin-bottom: 18px;
    list-style: none;
}

.info-regras li {
    color: #666;
    font-size: 0.82rem;
    margin-bottom: 6px;
    line-height: 1.4;
}

.info-regras li strong {
    color: #000;
}


form.formulario {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

form.formulario label {
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
    margin-top: 18px;
}

form.formulario input {
    padding: 10px 14px;
    border: 1.5px solid #bebcbc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

form.formulario input:focus {
    border-color: #0077ff;
    box-shadow: 0 0 0 3px rgba(0, 119, 255, 0.1);
}

form.formulario button {
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form.formulario button:hover {
    background-color: #005fd1;
}

form.formulario button:active {
    transform: scale(0.98);
}
.error-campo{
    font-size: 12px;
    color: red;
}
